html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: #03a696;
}

.postText {
  color: #253659;
}
.ipost {
  color: #f27457;
  border: 1px solid #253659;
  margin-top: 10px;
  padding-inline: 20px;
  padding-block: 10px;
}
.ipost li {
  list-style: none;
  border: 1px solid cyan;
  background-color: cyan;
  padding-block: 10px;
}
